body {
	font-family: arial, Verdana, sans-serif ;
	background-color: Silver;
	color: white;
	} 
	h1 {color: cyan ;
		text-align: center;} 
h2{color:black;
text-transform: uppercase;}
h4 { .question {background-color: red }